.correct-value {
  margin-top: 30px;
}

#v-container {
  height: 100vh;
}

.image-margin {
  margin-top: 16px;
  margin-bottom: 16px;
}

.image-border {
  border-radius: 4px !important;
}

.no-background {
  background: transparent !important;
}

.padding {
  padding-top: 50px;
}

.bigger-font {
  font-size: x-large;
}
