security:
    providers:
        admin_platform_user_provider:
            id: sylius.admin_user_provider.email_or_name_based

    encoders:
        Sylius\Component\User\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_SUPER_ADMIN: [ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            logout_on_user_change: true
            switch_user: true
            provider: admin_platform_user_provider
            form_login:
                login_path: admin_platform_admin_login
                check_path: admin_platform_admin_login_check
                failure_path: admin_platform_admin_login
                default_target_path: platform_target_path
                use_forward: false
                use_referer: true
            remember_me:
                secret: "%env(APP_SECRET)%"
                name: APP_ADMIN_REMEMBER_ME
                lifetime: 31536000
                remember_me_parameter: _remember_me
            logout:
                path: admin_platform_admin_logout
                target: admin_platform_admin_login
            anonymous: true

    access_control:
        - { path: ^/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/logout, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: "^/admin/.*", roles: [ROLE_ADMIN, ROLE_TEACHER] }
        - { path: "^/target-path", roles: [ROLE_ADMIN, ROLE_TEACHER, ROLE_STUDENT] }
        - { path: "^/$", roles: [ROLE_ADMIN, ROLE_TEACHER, ROLE_STUDENT] }
        - { path: "^/.*", roles: [ROLE_STUDENT] }
