sylius_resource:
    resources:
        app.quiz:
            classes:
                model: App\Entity\Quiz\Quiz
                form: App\Form\Type\Quiz\QuizType
                repository: App\Repository\Quiz\QuizRepository
        app.question:
            classes:
                model: App\Entity\Quiz\Question
                form: App\Form\EventSubscriber\Quiz\QuestionType
        app.answer:
            classes:
                model: App\Entity\Quiz\Answer
                form: App\Form\EventSubscriber\Quiz\AnswerType
        app.student_group:
            classes:
                model: App\Entity\Group\StudentGroup
                repository: App\Repository\Group\StudentGroupRepository
                form: App\Form\Type\Group\StudentGroupType
        app.subject:
            classes:
                model: App\Entity\Subject\Subject
                repository: App\Repository\Subject\SubjectRepository
                form: App\Form\Type\Subject\SubjectType
        app.response:
            classes:
                model: App\Entity\Quiz\Response
                repository: App\Repository\Quiz\ResponseRepository
        app.response_answer:
            classes:
                model: App\Entity\Quiz\ResponseAnswer
