{% include '@PlatformAdmin/Response/_header.html.twig' %}

<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {% include '@PlatformAdmin/Response/response_details.html.twig' %}
        <div class="ui hidden divider"></div>
        {% include '@PlatformAdmin/Response/answers.html.twig' %}
    </div>
</div>
