<div class="ui left aligned basic segment">
    <div class="ui icon info message">
        <i class="info circle icon"></i>
        <div class="content">
            <div class="header">
                Teacher credentials
            </div>
            <p>Username: teacher-1 <br> Password: teacher</p>
        </div>
    </div>
</div>
