sylius_grid:
    grids:
        app_admin_subject:
            driver:
                name: doctrine/orm
                options:
                    class: "%app.model.subject.class%"
                    repository:
                        method: createForGrid
                        arguments:
                            - expr:service('App\\Provider\\UserProvider').getUser()
            fields:
                title:
                    label: sylius.ui.title
                    type: string
                    sortable: ~
                code:
                    label: sylius.ui.code
                    type: string
                    sortable: ~
                supervisor:
                    label: app.ui.supervisor
                    type: string
                    sortable: ~
            filters:
                title:
                    type: string
                    label: sylius.ui.title
                    form_options:
                        type: contains
                code:
                    type: string
                    label: sylius.ui.code
                    form_options:
                        type: contains
                supervisor:
                    type: string
                    label: app.ui.supervisor
                    options:
                        fields: [supervisor.firstName, supervisor.lastName]
                    form_options:
                        type: contains
            actions:
                main:
                    create:
                        type: create
                item:
                    update:
                        type: update
