sylius_grid:
    grids:
        app_student:
            driver:
                name: '%admin_platform.driver%'
                options:
                    class: "%sylius.model.admin_user.class%"
                    repository:
                        method: createQueryBuilderByRoles
                        arguments:
                            - [!php/const App\Constants\AuthorizationRoles::ROLE_STUDENT]
            fields:
                firstName:
                    type: string
                    label: sylius.ui.first_name
                    sortable: ~
                lastName:
                    type: string
                    label: sylius.ui.last_name
                    sortable: ~
                group:
                    type: string
                    label: app.ui.group
                    sortable: ~
                email:
                    type: string
                    label: sylius.ui.email
                    sortable: ~
                enabled:
                    type: twig
                    label: sylius.ui.enabled
                    sortable: ~
                    options:
                        template: "@SyliusUi/Grid/Field/enabled.html.twig"
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [email, firstName, lastName]
                enabled:
                    type: boolean
                    label: sylius.ui.enabled
            actions:
                main:
                    create:
                        type: create
                        options:
                            link:
                                route: sylius_admin_admin_user_create
                item:
                    show:
                        type: show
                        label: app.ui.show_responses
                        options:
                            link:
                                route: app_admin_student_response_index
                                parameters:
                                    id: resource.id

                    update:
                        type: update
                        options:
                            link:
                                route: sylius_admin_admin_user_update
                    delete:
                        type: delete
                        options:
                            link:
                                route: sylius_admin_admin_user_delete
