sylius_grid:
    grids:
        app_quiz:
            driver:
                name: doctrine/orm
                options:
                    class: "%app.model.quiz.class%"
            fields:
                code:
                    type: string
                    label: sylius.ui.code
                    sortable: ~
                subject:
                    label: app.ui.subject
                    type: string
                    sortable: ~
                title:
                    label: sylius.ui.title
                    type: string
                    sortable: ~
            filters:
                search:
                    type: string
                    label: sylius.ui.search
                    options:
                        fields: [code, title]
            actions:
                main:
                    create:
                        type: create
                item:
                    show:
                        type: show
                    update:
                        type: update
