{% include '@PlatformAdmin/Quiz/_header.html.twig' %}

<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {% include '@PlatformAdmin/Quiz/quiz_details.html.twig' %}
        <div class="ui hidden divider"></div>
        {% include '@PlatformAdmin/Quiz/questions.html.twig' %}
    </div>
</div>
