{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="ui stackable two column grid">
    <div class="column">
        {{ headers.default(quiz.title, 'circular cube', 'app.ui.quizzes'|trans) }}

        {% include "@PlatformAdmin/Quiz/_breadcrumb.html.twig" %}
    </div>
    <div class="middle aligned column">
        {% include "@PlatformAdmin/Quiz/Show/_toolbar.html.twig" %}
    </div>
</div>
