<div id="header" class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular cube icon"></i>
            <div class="content">
                <span>{{ quiz.title }}</span>
                <div class="sub header">{{ 'app.ui.quizzes'|trans }}</div>
            </div>
        </h1>
        {% include "@PlatformAdmin/Quiz/_breadcrumb.html.twig" %}
    </div>
</div>
