app_response_show:
    path: /responses/{uuid}
    methods: [GET]
    defaults:
        _controller: app.controller.response:showAction
        _sylius:
            template: "@PlatformFront/Responses/Show/show.html.twig"

app_response_start:
    path: /responses/{uuid}/start
    methods: [GET]
    defaults:
        _controller: app.controller.response:showAction
        _sylius:
            template: "@PlatformFront/Responses/start.html.twig"
            repository:
                method: findOneByUuid
                arguments:
                    uuid: $uuid

app_response_finish:
    path: /responses/{uuid}/finish
    methods: [GET]
    defaults:
        _controller: app.controller.response:showAction
        _sylius:
            template: "@PlatformFront/Responses/finish.html.twig"
            repository:
                method: findOneByUuid
                arguments:
                    uuid: $uuid

app_response_index:
    path: /responses
    methods: [GET]
    defaults:
        _controller: app.controller.response:indexAction
        _sylius:
            grid: app_front_student_response
            template: "@PlatformFront/Crud/index.html.twig"
            vars:
                subheader: app.ui.show_responses
                icon: play
                templates:
                    breadcrumb: "@PlatformFront/Responses/Index/_breadcrumb.html.twig"
