platform_admin_user:
    prefix: /admin
    resource: "@PlatformAdminBundle/Resources/config/routing/admin_user.yml"

platform_admin_dashboard:
    prefix: /admin
    resource: "@PlatformAdminBundle/Resources/config/routing/dashboard.yml"

platform_admin_locale:
    prefix: /admin
    resource: "@PlatformAdminBundle/Resources/config/routing/locale.yml"

platform_login:
    resource: "@PlatformAdminBundle/Resources/config/routing/security.yml"

platform_after_login:
    path: /after-login-success
    defaults:
        _controller: App\Controller\Platform\PlatformController::redirectAction

admin_platform_admin_user:
    prefix: /admin
    resource: |
        alias: sylius.admin_user
        section: admin
        path: users
        templates: "@PlatformAdmin\\Crud"
        except: ['show']
        redirect: index
        grid: admin_platform_admin_users
        permission: true
        form:
            options:
                validation_groups: [platform_admin]
        vars:
            all:
                subheader: sylius.ui.manage_users_able_to_access_administration_panel
                templates:
                    form: "@PlatformAdmin/AdminUser/_form.html.twig"
            index:
                icon: lock
    type: sylius.resource
