parameters:
    locale: 'en'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $userRepository: '@sylius.repository.admin_user'

    _instanceof:
        Sylius\Bundle\ResourceBundle\Controller\ResourceController:
            autowire: false
        Sylius\Bundle\ResourceBundle\Form\Type\AbstractResourceType:
            autowire: false

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Fixtures
    App\Fixtures\LocaleFixture:
        arguments:
            $manager: '@sylius.manager.locale'
            $factory: '@sylius.factory.locale'

    App\Fixtures\UserFixture:
        arguments:
            $factory: '@sylius.factory.admin_user'

    App\Fixtures\QuizFixture:
        arguments:
            $factory: '@app.factory.quiz'

    App\Fixtures\QuestionFixture:
        arguments:
            $questionFactory: '@app.factory.question'
            $answerFactory: '@app.factory.answer'

    App\Fixtures\StudentGroupFixture:
        arguments:
            $manager: '@app.manager.student_group'
            $factory: '@app.factory.student_group'

    App\Fixtures\SubjectFixture:
        arguments:
            $factory: '@app.factory.subject'

    App\Fixtures\ResponseFixture:
        arguments:
            $responseFactory: '@app.factory.response'
            $responseAnswerFactory: '@app.factory.response_answer'

    # Resource form types
    App\Form\Type\Subject\SubjectType:
        arguments:
            - '%app.model.subject.class%'
        tags:
            - { name: form.type }

    App\Form\Type\Group\StudentGroupType:
        arguments:
            - '%app.model.student_group.class%'
        tags:
            - { name: form.type }

    App\Form\Type\Quiz\QuizType:
        arguments:
            - '@App\Form\EventSubscriber\Quiz\QuizTypeSubscriber'
            - '%app.model.quiz.class%'
        tags:
            - { name: form.type }

    App\Form\EventSubscriber\Quiz\QuestionType:
        arguments:
            - '%app.model.question.class%'
        tags:
            - { name: form.type }

    App\Form\EventSubscriber\Quiz\AnswerType:
        arguments:
            - '%app.model.answer.class%'
        tags:
            - { name: form.type }

    # Form types
    App\Form\Type\User\StudentType:
        arguments:
            - '@sylius.repository.admin_user'
        tags:
            - { name: form.type }

    # Providers
    App\Provider\UserProvider:
        public: true
