<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="question icon"></i>
        {{ 'app.ui.my_quizzes'|trans }}
    </div>
    <div class="inline">
        <div class="ui primary button">{{ 'sylius.ui.show'|trans }}</div>
    </div>
</div>
