<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="search icon"></i>
        {{ 'app.ui.start_quiz'|trans }}
    </div>
    <div class="inline">
        <div class="ui action input">
            <input type="text" placeholder="{{ 'app.ui.enter_quiz_code'|trans }}">
            <button class="ui blue right icon button">
                {{ 'app.ui.start'|trans }}
            </button>
        </div>
    </div>
</div>
