app_quiz:
    resource: |
        alias: app.quiz
        templates: PlatformAdminBundle:Crud
        except: ['show', 'bulkDelete', 'delete']
        redirect: index
        grid: app_quiz
        vars:
            all:
                subheader: app.ui.manage_quizzes
            index:
                icon: globe
    type: sylius.resource

app_admin_partial_quiz_latest:
    path: /quizzes/latest
    methods: [GET]
    defaults:
        _controller: app.controller.quiz:indexAction
        _sylius:
            repository:
                method: findLatest
                arguments:
                    - "expr:service('App\\\\Provider\\\\UserProvider').getUser()"
                    - '!!int $count'
            template: $template
            permission: true

app_admin_partial_quiz_upcoming:
    path: /quizzes/upcoming
    methods: [GET]
    defaults:
        _controller: app.controller.quiz:indexAction
        _sylius:
            repository:
                method: findUpcoming
                arguments:
                    - "expr:service('App\\\\Provider\\\\UserProvider').getUser()"
                    - '!!int $count'
            template: $template
            permission: true

app_quiz_show:
    path: /quizzes/{id}
    methods: [GET]
    defaults:
        _controller: app.controller.quiz:showAction
        _sylius:
            section: admin
            permission: true
            template: "@PlatformAdmin/Quiz/show.html.twig"
            vars:
                templates:
                    toolbar: "@PlatformAdmin/Quiz/Show/_toolbar.html.twig"

app_quiz_results:
    path: /quizzes/{id}/results
    methods: [GET, POST]
    defaults:
        _controller: app.controller.quiz:generateResultsAction
        _sylius:
            section: admin
            permission: true
            redirect: referer
            template: "@PlatformAdmin/Quiz/Results/generate.html.twig"
            vars:
                header: app.ui.results
                subheader: app.ui.generate_results
                icon: file
                templates:
                    breadcrumb: "@PlatformAdmin/Quiz/Results/_breadcrumb.html.twig"
