app_subject:
    resource: |
        alias: app.subject
        templates: PlatformAdminBundle:Crud
        except: ['bulkDelete']
        redirect: index
        grid: app_subject
        vars:
            all:
                subheader: app.ui.manage_subjects
            index:
                icon: tags
    type: sylius.resource

app_admin_ajax_subject_by_name:
    path: /subject/search
    methods: [GET]
    defaults:
        _controller: app.controller.subject:indexAction
        _format: json
        _sylius:
            serialization_groups: [Autocomplete]
            permission: true
            repository:
                method: findByNamePart
                arguments:
                    phrase: $phrase
                    supervisor: expr:service('App\\Provider\\UserProvider').getUser()
                    limit: 25

app_admin_ajax_subject_by_id:
    path: /subject/id
    methods: [GET]
    defaults:
        _controller: app.controller.subject:indexAction
        _format: json
        _sylius:
            serialization_groups: [Autocomplete]
            permission: true
            repository:
                method: findBy
                arguments: [id: $id]
