app_admin_student_index:
    path: /students
    methods: [GET]
    defaults:
        _controller: sylius.controller.admin_user:indexAction
        _sylius:
            template: "@PlatformAdmin/Crud/index.html.twig"
            grid: app_student
            vars:
                icon: cubes
                header: app.ui.students
                templates:
                    breadcrumb: "@PlatformAdmin/Student/Index/_breadcrumb.html.twig"

app_admin_ajax_student_by_name:
    path: /students/search
    methods: [GET]
    defaults:
        _controller: sylius.controller.admin_user:indexAction
        _format: json
        _sylius:
            serialization_groups: [Autocomplete]
            permission: true
            repository:
                method: findByNamePart
                arguments:
                    phrase: $phrase
                    role: !php/const App\Constants\AuthorizationRoles::ROLE_STUDENT
                    limit: 25

app_admin_ajax_student_by_id:
    path: /students/id
    methods: [GET]
    defaults:
        _controller: sylius.controller.admin_user:indexAction
        _format: json
        _sylius:
            serialization_groups: [Autocomplete]
            permission: true
            repository:
                method: findBy
                arguments: [id: $id]
